body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#container {
  width: 50%; 
  height: auto;
  scroll-behavior: smooth;
  position: absolute;
  top: 10px;
}

#add_task_btn{
  background-color: grey;
}

#delete-btn{
  background-color: red;
  color: white;
}

#task_input{
  all: inherit;
  border-bottom: 1px solid black;
  width: 100%;
  height: 50px;
}

.category-select,
.date-input {
  
  width: 48%;
  height: 30px;
  margin-bottom: 50px;
  
}
#category,#date{
  all: inherit;
  width: 100%;

}

.category-select{
  display: inline-block;

}
.date-input{
  display: inline-block;
}

.light-color{
  color: rgb(88, 88, 88);
}

h1{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom:10px ;
}
label.label-for-diffrent-input-type{
  display: block;
  margin-bottom: 5px;
}
.for-adding-equal-border{
  margin-bottom: -10px;
  border-bottom: 1px solid black;
}

.btn-input{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#add-task-btn{
  all:inherit;
  color:white;
  background-color:rgb(60, 177, 13);
  width: 20%;
  height: 50px;
  font-size: 100%;
  font-weight: 900;
  margin: 5px;
}

.category-select {
  position: relative;
  display: inline-block;
}

.category-select::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50px;
  transform: translateY(-50%) rotate(-45deg);
  width: 0.5em;
  height: 0.5em;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  pointer-events: none;
}

ul#task-list {
  list-style-type: none;
  padding: 0;
}

ul#task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

ul#task-list li:not(:last-child) {
  margin-bottom: 20px;
}

ul#task-list li .task-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
}

ul#task-list li .task-info p {
  margin: 0;
}

ul#task-list li i.fas.fa-trash {
  color: red;
}

li{
  border: 1px solid black;
  padding: 5px 15px 5px 15px ;
}

p.category-para{
  text-align: center;
  padding: 5px;
  color:white;
}

p.category-work{
  background-color: red;

}

p.category-personal{
  background-color:green;
}

p.category-shopping{
  background-color: blue;

}
p.category-default{
  background-color: red;
}

@media (max-width: 768px) {
  #container {
    width: 90%;
  }
  
  .category-select,
  .date-input {
    width: 100%;
  }
  
  #add-task-btn {
    width: 100%;
  }
}